<%- include('../shared/head', {webTitle: 'Agregar Producto'}) -%>

<div class="container mt-4 mb-4 text-center">
    <button class="btn btn-outline-primary"><a style="color: blue   ;" href="/productos/crear">Crear productos</a></button>
</div>


<%- include('../shared/footer') -%>