<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pharma Control - <%= webTitle %>
  </title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <style>
    .sidebar {
      display: block;
      position: fixed;
      z-index: 999;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
      background-color: rgb(44, 119, 248);
      height: 100%;
    }

    .sidebar-hidden {
      transform: translateX(0%);
      transition: transform 0.3s ease-in-out;
    }
  </style>
</head>

<body>

  <nav class="navbar" style="background-color: gray; position: fixed; z-index: 500; width: 100%;">
    <div class="container-fluid">
      <button class="btn btn-primary" id="btn-arrow" onclick="toggleSidebar()"><i class="fa-solid fa-bars"></i></i></button> 
      <span class="navbar-brand mb-0 h1 text-white">Pharma Control</span>
    </div>
  </nav>

  <div class="container-fluid text-center">

    <div class="row align-items-start">

      <div class="col-12 col-lg-2 sidebar" id="sidebar">

        <div class="justify-content-end">
          <button class="btn btn-primary rotated" id="btn-arrow" onclick="toggleSidebar()"><i class="fa-solid fa-x"></i></button>
        </div>

        
        <div class="row m-1 mt-1 align-items-center">
          <div class="col-5">
            <a class="navbar-brand" href="/">
              
              <img src="/img/user.png" alt="Logo" width="70" height="70" class="d-inline-block align-text-top">
              
            </a>
          </div>

          <% if (isAuthenticated) { %>
            <div class="col-2">
              <a style="color: white;" class="nav-link mx-auto" href="/"><strong><%- user.userName %></strong></a>
            </div>
          <% } else{ %>
          
            <div class="col-2">
              <a style="color: white;" class="nav-link mx-auto" href="/auth/login"><strong>INICIAR SESIÓN</strong></a>
            </div>
          
          <% } %>
           
        
        </div>
         

        <hr>

        <div class="row m-1 mt-4 align-items-center">
          <div class="col-1">
            <i class="fas fa-house"></i>
          </div>
          <div class="col-3">
            <a style="color: white;" class="nav-link mx-auto" href="/">Home</a>
          </div>
        </div>

        <% if (isAuthenticated) { %>

          <div class="row m-1 mt-5 align-items-center">
            <div class="col-1">
              <i class="fa-solid fa-box-archive"></i>
            </div>
            <div class="col-3">
              <a style="color: white;" class="nav-link mx-auto" href="/productos">Productos</a>
            </div>
          </div>

          <div class="row m-1 mt-5 align-items-center">
            <div class="col-1">
              <i class="fa-solid fa-cash-register"></i>
            </div>
            <div class="col-3">
              <a style="color: white;" class="nav-link mx-auto" href="/ventas">Ventas</a>
            </div>
          </div>
          
          <div class="row m-1 mt-5 align-items-center">
            <div class="col-1">
              <i class="fa-solid fa-boxes-stacked"></i>
            </div>
            <div class="col-3">
              <a style="color: white;" class="nav-link mx-auto" href="/productos/inventario">Inventario</a>
            </div>
          </div>
  
          <div class="row m-1 mt-5 align-items-center">
            <div class="col-1">
              <i class="fa-solid fa-right-from-bracket"></i>
            </div>
            <div class="col-3">
              <a style="color: white;" class="nav-link mx-auto" href="/auth/logout">Logout</a>
            </div>
          </div>

        <% } else { %>
         
          <div class="row m-1 mt-5 align-items-center">
            <div class="col-1">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="col-3">
              <a style="color: white;" class="nav-link mx-auto" href="/auth/login">Login</a>
            </div>
          </div>
  
          <div class="row m-1 mt-5 align-items-center">
            <div class="col-1">
              <i class="fa-solid fa-user-plus"></i>
            </div>
            <div class="col-3">
              <a style="color: white;" class="nav-link mx-auto" href="/auth/register">Register</a>
            </div>
          </div>

        <% } %>



      </div>

    </div>
  </div>

  <% if (msg) { %>
    <div id="alertMessage" class="alert-success" role="alert">
      <%= msg %>
      <button id="closeAlert" class="close">&times;</button>
    </div>
  <% } %>

  <% if (error) { %>
    <div id="alertDanger" class="alert-danger" role="alert">
      <%= error %>
      <button id="closeAlertDanger" class="close">&times;</button>
    </div>
  <% } %>

  <script>
    function toggleSidebar() {
      var sidebar = document.getElementById("sidebar");
      var btnArrow = document.getElementById("btn-arrow");
      sidebar.classList.toggle("sidebar-hidden");
      btnArrow.classList.toggle("rotated")
    }
  </script>