<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pharma Control - <%= webTitle %>
  </title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <style>
    .sidebar {
      display: block;
      position: absolute;
      z-index: 999;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
    }
    
    .sidebar-hidden {
      transform: translateX(0%);
      transition: transform 0.3s ease-in-out;
    }

    .rotated {
      transform: rotate(180deg); 
    }

    button{
      opacity: 50%;
    }
  </style>
</head>

<body>

  <div class="container-fluid text-center">

    <div class="row align-items-start">

      <div class="col-12 col-lg-2 sidebar" id="sidebar" style="border: solid 2px black; background-color: rgb(94, 94, 94) ;">

        <div class="row m-1 mt-5 align-items-center">
          <div class="col-3">
            <a class="navbar-brand" href="/">

              <img src="/img/user.png" alt="Logo" width="70" height="70" class="d-inline-block align-text-top">

            </a>
          </div>
          <div class="col-3">
            <a style="color: white;" class="nav-link mx-auto" href="/"><strong>JuanSQ</strong></a>
          </div>
        </div>

        <hr>

        <div class="row m-1 mt-4 align-items-center">
          <div class="col-1">
            <i class="fas fa-house"></i>
          </div>
          <div class="col-3">
            <a style="color: white;" class="nav-link mx-auto" href="/">Home</a>
          </div>
        </div>

        <div class="row m-1 mt-5 align-items-center">
          <div class="col-1">
            <i class="fa-solid fa-box-archive"></i>
          </div>
          <div class="col-3">
            <a style="color: white;" class="nav-link mx-auto" href="/productos">Productos</a>
          </div>
        </div>

        <div class="row m-1 mt-5 align-items-center">
          <div class="col-1">
            <i class="fa-solid fa-cash-register"></i>
          </div>
          <div class="col-3">
            <a style="color: white;" class="nav-link mx-auto" href="/ventas">Ventas</a>
          </div>
        </div>

        <div class="row m-1 mt-5 align-items-center">
          <div class="col-1">
            <i class="fa-solid fa-user"></i>
          </div>
          <div class="col-3">
            <a style="color: white;" class="nav-link mx-auto" href="/auth/login">login</a>
          </div>
        </div>

        <div class="row m-1 mt-5 align-items-center">
          <div class="col-1">
            <i class="fa-solid fa-user-plus"></i>
          </div>
          <div class="col-3">
            <a style="color: white;" class="nav-link mx-auto" href="/auth/register">Register</a>
          </div>
        </div>

        <div class="row m-1 mt-5 align-items-center">
          <div class="col-1">
            <i class="fa-solid fa-boxes-stacked"></i>
          </div>
          <div class="col-3">
            <a style="color: white;" class="nav-link mx-auto" href="/productos/inventario">Inventario</a>
          </div>
        </div>

        <div class="row m-1 mt-5 align-items-center" style="border: solid 1px gray;">
          <div class="col-1">
            <i class="fa-solid fa-right-from-bracket"></i>
          </div>
          <div class="col-3">
            <a style="color: white;" class="nav-link mx-auto" href="/auth/logout">logout</a>
          </div>
        </div>

      </div>

      <div class="col-0" style="z-index: 1000;">
        <button class="btn btn-secondary rotated" id="btn-arrow" onclick="toggleSidebar()"><i class="fa-solid fa-arrow-left"></i></button>
      </div>
    </div>
  </div>

  <% if (msg) { %>
    <div id="alertMessage" class="alert-success" role="alert">
        <%= msg %>
        <button id="closeAlert" class="close">&times;</button>
    </div>
  <% } %>
  <% if (error) { %>
      <div id="alertMessage" class="alert-danger" role="alert">
          <%= error %>
          <button id="closeAlert" class="close">&times;</button>
      </div>
  <% } %>

  <script>
    function toggleSidebar() {
      var sidebar = document.getElementById("sidebar");
      var btnArrow = document.getElementById("btn-arrow");
      sidebar.classList.toggle("sidebar-hidden");
      btnArrow.classList.toggle("rotated")
    }
  </script>