<%- include('shared/head', { webTitle: 'Home' }) -%>
<% if (msg) { %>
    <div id="alertMessage" class="alert-success" role="alert">
        <%= msg %>
        <button id="closeAlert" class="close">&times;</button>
    </div>
<% } %>
<% if (error) { %>
    <div id="alertMessage" class="alert-danger" role="alert">
        <%= error %>
        <button id="closeAlert" class="close">&times;</button>
    </div>
<% } %>
Home
<%- include('shared/footer') -%>
